<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1 style="color:white">{{ .Site.Params.Banner.title }}</h1>
    </header>
    <div class="content">
      <p style="color:white">{{ .Site.Params.Banner.subtitle }}</p>
<!--       <ul class="actions">
          <li><a href="#one" class="button next scrolly">.Site.Params.Banner.buttonText</a></li>
      </ul> -->
    </div>
    <div class="centered">
      <iframe src="https://www.youtube.com/embed/Fw2Al67xPW4" allowfullscreen frameborder="0" style="top: 0; width: 60%; height: 100%; border:0;"></iframe>
    </div>      
  </div>
</section>

<section>

  <div class="inner row">
    <div class="4u 12u$(medium) align-center">
      <img src="https://sorasystem.sirv.com/icons/taonomics.png" alt="" style="width: 100px;" class="rounded-circle">
      <p>Metaphysics</p>
      <small>Mysticism, Religion: Feelings</small>
      <br>
      <small>0-50% Replicable: Paradoxical</small>              
    </div>
    <div class="4u 12u$(medium) align-center">
      <img src="https://sorasystem.sirv.com/icons/sp100.png" alt="" style="height: 100px; width: 100px;" class="rounded-circle">
      <p>Superphysics</p>
      <small>Dialectics, Critical Thinking: Wisdom</small>
      <br>
      <small>51-99% Replicable: Subjective</small>              
    </div>
    <div class="4u$ 12u$(medium) align-center">
      <img src="https://sorasystem.sirv.com/icons/atom.png" alt="" style="height: 100px; width: 100px;" class="rounded-circle">
      <p>Physics</p>
      <small>Science, Math: Intellect</small>
      <br>
      <small>100% Replicable: Objective</small>              
    </div>
  </div>    
  
  <br>
  <br>        
</section>
