<section class="section inner major">
    <div class="row">
      <div class="4u 12u$(medium)">
        <img src="https://sorasystem.sirv.com/icons/taonomics.png" alt="" style="height: 100px; width: 100px;" class="rounded-circle">
        <p>Metaphysics</p>
        <small>Mysticism, Religion: Feelings</small>
        <br>
        <small>0-50% Replicable: Paradoxical</small>              
      </div>
      <div class="4u 12u$(medium)">
        <img src="https://sorasystem.sirv.com/icons/taonomics.png" alt="" style="height: 100px; width: 100px;" class="rounded-circle">
        <p>Metaphysics</p>
        <small>Mysticism, Religion: Feelings</small>
        <br>
        <small>0-50% Replicable: Paradoxical</small>              
      </div>
      <div class="4u$ 12u$(medium)">
        <img src="https://sorasystem.sirv.com/icons/taonomics.png" alt="" style="height: 100px; width: 100px;" class="rounded-circle">
        <p>Metaphysics</p>
        <small>Mysticism, Religion: Feelings</small>
        <br>
        <small>0-50% Replicable: Paradoxical</small>              
      </div>
    </div>
</section>




